@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.max-800{
  max-width: 800px !important;
}

@media (max-width: 430px) {
  .web-hidden {
      display: none;
  }
}